:root {
--primarydarkbluecolor: rgba(39, 76, 119, 1);
--secondarylightbluecolor: rgba(96, 150, 186, 1);
--tertiarylightestblue: rgba(163, 206, 241, 1);
--darkbackground: rgba(139, 140, 137, 1);
--lightgray: rgba(231, 236, 239, 1);
}

/* generic font settings */
* {
    font-family: 'Raleway', sans-serif;
}

h1 {
  font-size:calc(24px + 1.5vw);
  color: var(--primarydarkbluecolor);
  font-weight: 800;
  
}

h2 {
  font-size: 20px + 1.5vw;
  font-weight: 600;
}

h3 {
  font-size: 16px + 1.5vw;
  color: var(--darkbackground);
  font-weight: 600;
}

p {
  font-size:calc(12px + .4vw);
  color: var(--secondarylightbluecolor);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  }

/* end generic font settings */

header {
    display: flex;
    width: 100%;
    background-color: var(--primarydarkbluecolor);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 9999;
    top: 0;
}

header h1 {
    color: var(--lightgray);
    padding-left: 15px;
    padding-bottom: 5px; /*offsetting slightly to fix for "y" */
    margin: 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav a {
    text-decoration: none;
    color: var(--lightgray);
    border: 1px solid var(--lightgray);
    border-radius: 10px;
    margin: 5px;
    padding: 3px 7px;
  }

  header nav a:hover {
    font-weight: bold;
  }

/* hero */
.hero {
  background-image: url('../images/hero-background-reduced.jpg');
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.hero h2 {
color: var(--primarydarkbluecolor);
}

/* hero end */

/* body content */

.sub-header{
  border-right: 3px solid var(--primarydarkbluecolor);
  padding-right: 20px;
  margin: 35px 15px;
  width: 20%;
  text-align: right;
  }

/* about me */
.about-me {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.about-me-content {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.about-me-text{
  flex: 1 1 50%;
  margin: 0 15px;
}

.about-me-img {
  min-width: 100px;
  flex: 0 1 12%;
}

.about-me-img img {
  width: 100%;
  height: auto;
}

/* about me end */

/* work examples */

.work-container {
  width: 100%;
  display: flex;
}

.work-examples {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.work-example {
  margin: 10px;
  min-height: 200px;
  border: 5px solid var(--tertiarylightestblue);
  background-size: cover;
  background-position: top left;
  position: relative; 
}

.primary-work-example {
  flex: 1 1 80%;
  height: 400px;
  background-image: url('../images/RunBuddy.PNG'); 
}

.secondary-work-example {
  flex: 1 0 300px;
  background-image: url('../images/BusinessBob.PNG');
}

.third-work-example {
  flex: 1 0 300px;
  background-image: url('../images/Horiseon_screenshot.PNG');
}

.fourth-work-example {
  flex: 1 0 300px;
  background-image: url('../images/weatherApp.PNG');
}

.fifth-work-example {
  flex: 1 0 300px;
  background-image: url('../images/Puppy.PNG');
  background-size: cover;
  background-position: 80%;
}

.work-example:hover {
  background-color: var(--lightgray);
  opacity: 50%;
}

.work-example-description {
  background-color: var(--tertiarylightestblue);
  position: absolute;
  padding: 10px 15px;
  bottom: 25px;
  margin: -1px;
  }

.work-example-description h3 {
  color: var(--primarydarkbluecolor);
  margin: 0;
}

.work-example-description p {
  margin: 0;
}

/* end work examples */
/* end body */

  /* footer/contact info */

  footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .contact-me-text {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }

  .contact-me-text a {
    text-decoration: none;
  }

  .contact-me-text h3:hover {
    font-weight: bold;
  }

  /* end footer/contact info */

  /* Media query for phones and small screens */
  @media screen and (max-width: 630px) {

    header {
      display: flex;
      flex-direction: column;
  }
  
  header h1 {
      color: var(--lightgray);
      padding-left: 0px;
      padding-bottom: 0;
      margin: 10px 0 0 0;
  }
    header nav a {
      margin: 0 10px 5px 0;
    }

    .hero {
      justify-content: center;
      min-height: 75px;
    }

    .media-small {
      display: flex;
      flex-direction: column;
      }

    .sub-header{
      border-bottom: 3px solid var(--primarydarkbluecolor);
      border-right: 0;
      padding: 0;
      margin: 10px 10px;
      width: 100%;
      text-align: center;
      }

      .about-me {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .work-examples {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
      }

      .primary-work-example {
        background-position: center;
      }

      .contact-me-text {
        width: 100%;
      }
  }