:root {
--primarydarkbluecolor: rgba(39, 76, 119, 1);
--secondarylightbluecolor: rgba(96, 150, 186, 1);
--tertiarylightestblue: rgba(163, 206, 241, 1);
--darkbackground: rgba(139, 140, 137, 1);
--lightgray: rgba(231, 236, 239, 1);
}

* {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    background-color: var(--primarydarkbluecolor);
    justify-content: space-between;
}

header h1 {
    color: var(--lightgray);
}

header nav a {
    text-decoration: none;
    color: var(--lightgray);
    border: 1px solid var(--lightgray);
    border-radius: 10px;
    margin: 5px;
    padding: 3px 7px;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }